
<h1> party code: <%= @party.code %> </h1>

<% if @party.characters.empty? %>
    <div>
        <p> this pary has no characters in it </p>
    </div>
<% else %>
    <div class="character-roster">
        <ul>
            <% @party.characters.each do |char| %>
                <li> <%= char.name %> </li>
            <% end %>
        </ul>
    </div>
<% end %>
